<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Test.Properties.Settings.integrationTestConnectionString"
            connectionString="Data Source=FADY-PC\SQLEXPRESS;Initial Catalog=integrationTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>